/*work in progress*/

.body {
	margin: auto;
	padding: 0;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 22px;
	color: #777777;
	line-height: 150%;
	background-color: #e5e5e5;
}

header {
	border-bottom-style: solid;
	border-color: silver;
	border-bottom-width: 2px;
	width: 100%;
	height: 90px;
	bottom: 90px;
	background-color: white;
}

h1 {
	margin: 0;
	margin-bottom: 40px

	font-size: 28px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: #eee;
	text-align: center;
	line-height: 300%;
	background: #4aaaa5;
	width: 250px;
	height: 91px;
	position: relative;
	top: -93px;
	left: 155px;
	right: 405px;
	bottom: 90px;
	z-index: 1;

}

a {
	color: #777777; 
	margin: 0;
	font-size: 18px;
	text-decoration: none;
	padding: 0px 15px 0px 15px;
	position: relative;
	top: -160px;
	left: 850px;

}

a:hover {
	color: #dddddd;
}

p {
	margin: 0;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-left: 25px;
	padding-right: 25px;
}

footer {
	clear: both;
	background-color: dimgray;
	border-top-style: solid;
	border-top-width: 8px;
	border-color: cadetblue;
	width: 100%;
	height: 90px;
	position: relative;
	top: 80px;
	text-align: center;
	font-size: 14px;
	color: lightgray;
	line-height: 600%;
}

form {
	margin: 0;
	width: 590px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 18px;
}

input[type=text] {
    width: 100%;
    height: 30px;
	margin: 0px;
    box-sizing: border-box;
}

textarea {
	width: 590px;
	height: 120px;
}

input[type=submit] {
	width: 120px;
	height: 40px;
	background-color: #4aaaa5;
	color: white;
	font-size: 18px;
	border: none;
}

.topbanner {
	margin: 0;
	width: 100%;
	height: 90px;
	right: 1350px;
	bottom: 90px;
}

.portfolio {
	border-left-style: solid;
	border-right-style: solid;
	border-width: 2px;
	border-color: lightgray;
}


.mainpane {
/*	margin: 0 auto;*/
	width: 650px;
	height: 480px;
	background-color: white;
	border-width: thick;
	border-color: black;
	float: left;
	position: relative;
	top: 40px;
	left: 155px;
}

.aboutheader {
	margin-left: 25px;
	margin-bottom: 30px;
	padding: 30px 0px 30px;
	width: 570px;
	font-size: 28px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: #4aaaa5;
	padding-right: 30px;
	display: block;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: gainsboro;

}

.headshot {
	margin: 0;
	width: 100px;
	height: 140px;
	float: left;
	padding: 10px 25px;
}

.connectpane {
	width: 270px;
	height: 200px;
	background-color: white;
	text-align: center;
	line-height: 40px;
	border-width: thin;
	border-color: lightgray;
	position: relative;
	top: 40px;
	left: 850px;
}

.connectheader {
	margin: 0px;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	position: relative;
	top: -460px;
	padding-bottom: 20px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: gainsboro;

}

.github {
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 60px;
	left: -910px;
	top: -270px;
}

.linkedin {
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 60px;
	left: -865px;
	top: -270px;
}

.stackoverflow {
	position: absolute;
	z-index: 2;
	width: 53px;
	height:53px;
	left: -818px;
	top: -266px;
}

.portfolioconnectheader {
	margin: 0px;
	width: 240px;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	position: absolute;
	top: 20px;
	left: 15px;
	padding-bottom: 20px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: gainsboro;

}

.portfoliopane {
	width: 650px;
	height: 575px;
	background-color: white;
	border-width: thick;
	border-color: black;
	float: left;
	position: relative;
	top: 40px;
	left: 155px;
	display: inline-block;
}

.portfoliobuttons {
	color: #777777; 
	margin: 0;
	font-size: 18px;
	text-decoration: none;
	padding: 0px 15px 0px 15px;
	position: relative;
	top: -200px;
	left: 850px;
}

.hangmanpane {
	background-image: url("../images/hangman.jpg");
	background-color: none;
	position: absolute;
	left: 30px;
	width: 250px;
	height: 200px;
	padding-left: 30px;
}

.hangmanheader {
	color: white;
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: cadetblue;
	padding: 20px 101px 20px 101px;
	position: absolute;
	top: 115px;
	left: 0px
}

.RPGpane {
	background-image: url("../images/RPG.jpg");
	background-color: none;
	position: absolute;
	left: 340px;
	width: 250px;
	height: 200px;
	padding-left: 30px;
}

.RPGheader {
	color: white;
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: cadetblue;
	width: 100px;
	padding: 20px 90px 20px 90px;
	position: absolute;
	top: 115px;
	left: 0px;
}

.triviapane {
	background-image: url("../images/trivia.jpg");
	background-color: none;
	position: absolute;
	left: 0px;
	top: 355px;
	width: 280px;
	height: 200px;
	padding-left: 30px;
}

.triviaheader {
	color: white;
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: cadetblue;
	padding: 20px 90px 20px 90px;
	position: absolute;
	width: 100px;
	top: 115px;
	left: 30px
}

.widgetpane {
	background-image: url("../images/widget.jpg");
	background-color: none;
	position: absolute;
	left: 310px;
	top: 355px;
	width: 280px;
	height: 200px;
	padding-left: 30px;
}

.widgetheader {
	color: white;
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: cadetblue;
	padding: 20px 30px 20px 50px;
	position: absolute;
	width: 200px;
	top: 115px;
	left: 30px
}

@media screen and (max-width: 768px) {

	.body {
		width: 900px;
		overflow: visible;
	}
	
	header {
		width: 758px;
	}

	h1 {
		position: relative;
		left: 20px;
	}

	a {
		position: relative;
		left: 450px;
	}

	.mainpane {
		width: 700px;
		position: relative;
		left: 20px;
	}

	.aboutheader {
		width: 580px;
	}

	.connectpane {
		left: 20px;
		top: 550px;
		width: 700px;
	}

 	.connectheader {
    position: absolute;
    left: 20px;
    top: 10px;
    margin-top: 20px;
    width: 650px;
    text-align: left;
	}

	.agit {
		position: absolute;
		left: 10px;
		top: 120px;
		z-index: 3;
		width: 60px;
		height: 60px;
	}
	
	.github {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.alinked {
		position: absolute;
		top: 120px;
		left: 80px;
		width: 60px;
		height: 60px;
	}

	.linkedin {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.astack {
		position: absolute;
		top: 124px;
		left: 136px;
		width: 53px;
		height: 53px;
	}

	.stackoverflow {
		position: absolute;
		top: 0px;
		left: 17px;
	}

	footer {
		position: relative;
		display: block;
		top: 400px;
		overflow: auto;
		width: 770px;
	}
}

@media screen and (max-width: 640px) {

	.body {
		width: 900px;
		overflow: visible;
	}
	
	header {
		width: 638px;
	}

	h1 {
		position: relative;
		left: 0px;
		width: 640px;
		margin-left: 0px;
		border-bottom-style: solid;
		border-bottom-color: white;
		border-bottom-width: 50px;
		z-index: 0;
	}

	a {
		position: relative;
		left: 45px;
		top: -130px;
		z-index: 1;
		padding-left: 60px;
		padding-right: 60px;
	}

	.mainpane {
		width: 580px;
		position: relative;
		left: 20px;
		margin-top: 30px;
	}

	.aboutheader {
		width: 500px;
	}

	.connectpane {
		left: 20px;
		top: 550px;
		width: 580px;
		margin-right: 0px;
		margin-top: 40px;
	}

 	.connectheader {
    position: absolute;
    left: 20px;
    top: 10px;
    margin-top: 20px;
    width: 530px;
    text-align: left;
	}

	.agit {
		position: absolute;
		left: 10px;
		top: 120px;
		z-index: 3;
		width: 60px;
		height: 60px;
	}
	
	.github {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.alinked {
		position: absolute;
		top: 120px;
		left: 80px;
		width: 60px;
		height: 60px;
	}

	.linkedin {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.astack {
		position: absolute;
		top: 124px;
		left: 136px;
		width: 53px;
		height: 53px;
	}

	.stackoverflow {
		position: absolute;
		top: 0px;
		left: 17px;
	}

	footer {
		position: relative;
		display: block;
		top: 400px;
		width: 640px;
	}
}